.year-container {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    margin-bottom: 120px; /* Add margin between year and counter */
}

.year-content {
    display: flex; /* Use flexbox to align year and counter */
    align-items: center; /* Center items horizontally */
    margin-bottom: 50px; /* Add margin between each year and counter pair */
}

.year, .counter, .separator {
    margin: 0; /* Reset margin */
}

.year {
    font-size: 50px; /* Larger font size for the year */
}

.separator {
    margin: 0 10px; /* Adjust as needed */
    font-size: 80px; /* Base font size */
    opacity: 0.5; /* Adjust opacity for separator */
}

.counter {
    font-size: 10px; /* Smaller font size for the counter */
    opacity: 0.5; /* Adjust opacity for smaller numbers */
}

#spacer-top {
    height: 50vh; /* Adjust the height as needed to create space at the top */
}

#search-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

#search-bar h1 {
    text-align: center; /* Center-align the text */
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
}
#search-bar h2 {
    text-align: center; /* Center-align the text */
    margin: 0; /* Remove default margin */
    font-size: 20px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
}

.search-container {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center horizontally */
}

#search-input {
    width: calc(100% - 20px); /* Adjust width based on container width */
    max-width: 600px;
    margin-bottom: 10px; /* Add margin below input */
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

#search-button {
    width: 100%; /* Make button full width */
    max-width: 200px; /* Set maximum width */
    padding: 8px 0; /* Adjust vertical padding */
    font-size: 16px;
    border: 1px solid #ccc; /* Set border color to grey */
    border-radius: 4px;
    background-color: #ccc; /* Set background color to grey */
    color: #000; /* Change text color to black */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #999; /* Change hover background color as needed */
    border-color: #999; /* Change hover border color as needed */
}