.year-container {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    margin-bottom: 120px; /* Add margin between year and counter */
}

.year-content {
    display: flex; /* Use flexbox to align year and counter */
    align-items: center; /* Center items horizontally */
    margin-bottom: 50px; /* Add margin between each year and counter pair */
}

.year, .counter, .separator {
    margin: 0; /* Reset margin */
}

.year {
    font-size: 50px; /* Larger font size for the year */
}

.separator {
    margin: 0 10px; /* Adjust as needed */
    font-size: 80px; /* Base font size */
    opacity: 0.5; /* Adjust opacity for separator */
}

.counter {
    font-size: 10px; /* Smaller font size for the counter */
    opacity: 0.5; /* Adjust opacity for smaller numbers */
}

#spacer-top {
    height: 50vh; /* Adjust the height as needed to create space at the top */
}
