.year-wrapper {
    text-align: center;
    position: relative;
    margin-bottom: 80px; /* Add margin between year and counter */
}

.year {
    font-size: 40px; /* Base font size */
    margin: 0px 0; /* Adjusted margin to make the year and number closer */
    transform-origin: center center; /* Set the transform origin to the center */
    position: relative;
}

.counter {
    font-size: 1px; /* Smaller font size for numbers */
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5; /* Adjust opacity for smaller numbers */
}

#spacer-top {
    height: 50vh; /* Adjust the height as needed to create space at the top */
}

/* Example of targeting iPhone screens with a max-height media query */
@media only screen and (max-device-height: 800px) {
    /* Custom styles for iPhones or devices with similar height */
    .year, .counter {
        /* Adjust font sizes or other styles as needed */
    }
}